@charset "UTF-8";
.header {
  overflow: hidden;
  position: relative; }

.work__speed {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.top__info-wrap {
  position: relative;
  display: flex;
  padding-top: 30px;
  align-items: center;
  margin-bottom: 126px;
  justify-content: center; }

.logo_img {
  margin-right: 136px; }

.navogation__list {
  list-style: none;
  display: flex; }

.navigation__list-item {
  margin-right: 51px; }

.navigation__list-item:last-child {
  margin-right: 229px; }

.navigation__link {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #ffffff; }

.link__button-login {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
  letter-spacing: 0.2px;
  color: #ffffff;
  padding: 13px 45px;
  width: 139px;
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 31px rgba(0, 0, 0, 0.15));
  background: transparent; }

.header__mobile-wrap {
  display: none; }

.button__mobile {
  background: transparent;
  border: transparent;
  transition: 0.3s ease; }

.nav__mobile-list {
  right: -1000px;
  list-style: none;
  position: absolute;
  bottom: 340px;
  top: 100px;
  text-align: center;
  background: #3947d8;
  width: 25%;
  border-radius: 30px;
  transition: 1s; }

.nav__mobile-item {
  padding: 3px 0px; }

.nav__mobile-link {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 3.8px; }

.top__title-wrap {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }

.top__title {
  max-width: 709px;
  font-style: normal;
  font-weight: 500;
  font-size: 80px;
  line-height: 88px;
  letter-spacing: 0.2px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 37px; }

.top__subtitle {
  margin-bottom: 95px;
  max-width: 582px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #ffffff; }

.top__link-button {
  align-items: center;
  display: flex;
  justify-content: center;
  text-decoration: none;
  margin-bottom: 35px; }

.button__free {
  margin-right: 35px;
  padding: 20px 40px;
  background: #4452fe;
  box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
  border: 1px solid #4452fe;
  color: #ffffff;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
  letter-spacing: 0.2px; }

.botton__more {
  padding: 20px 40px;
  background: transparent;
  box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
  border: 1px solid white;
  color: #ffffff;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
  letter-spacing: 0.2px; }

.work__speed-wrap {
  display: flex;
  justify-content: center;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #0e0e0e 66.15%); }

.work__speed-img {
  margin-bottom: 162px;
  width: 100%;
  object-fit: contain; }

@media screen and (max-width: 1200px) {
  .navogation__list {
    display: none; }
  .nav__mobile-list.active {
    right: 50px;
    height: 111px;
    width: 220px; }
  .button__mobile.active {
    transform: rotate(180deg); }
  .logo_img {
    margin-right: 0px; }
  .top__info-wrap {
    justify-content: space-around; }
  .header__mobile-wrap {
    display: block; } }

@media screen and (max-width: 600px) {
  .top__title {
    max-width: 294px;
    font-size: 52px;
    line-height: 62px; }
  .top__subtitle {
    max-width: 380px; }
  .top__link-button {
    flex-direction: column; }
  .button__free {
    margin-right: 0px;
    margin-bottom: 21px; } }

@media screen and (max-width: 430px) {
  .top__info-wrap {
    flex-direction: column; }
  .header__mobile-wrap {
    position: absolute;
    right: 20px;
    top: 60px; } }

.features {
  padding-top: 162px;
  margin-bottom: 221px; }

.features__wrap {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 602px;
  margin: 0px auto; }

.features__title {
  font-style: normal;
  font-weight: normal;
  font-size: 52px;
  line-height: 62px;
  letter-spacing: 0.2px;
  color: #ffffff;
  margin-bottom: 27px; }

.features__subtext {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #ffffff; }

.features__information-wrap {
  display: flex;
  justify-content: center;
  padding-top: 80px;
  margin-bottom: 60px; }

.features__picture {
  margin-right: 47px; }

.features__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.features__list-item {
  width: 269px; }

.item__icon-title {
  display: flex;
  align-items: center;
  margin-bottom: 20px; }

.title__one {
  width: 153px; }

.title__two {
  width: 87px; }

.item__icon {
  margin-right: 13px; }

.item__title {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.1px;
  color: #ffffff; }

.item__text {
  width: 249px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #ffffff;
  margin-bottom: 45px; }

@media screen and (max-width: 1100px) {
  .features__information-wrap {
    flex-direction: column; }
  .features__picture {
    margin-right: 0px;
    margin: 0px auto; }
  .features__img {
    width: 100%;
    margin-bottom: 70px; }
  .features__wrap {
    max-width: 602px;
    width: 100%; } }

@media screen and (max-width: 764px) {
  .features__subtext {
    max-width: 400px;
    margin: 0px auto; } }

.сontents {
  padding-top: 60px;
  margin-bottom: 160px; }

.сontents__wrap {
  width: 591px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 0px auto; }

.contents__title {
  font-style: normal;
  font-weight: normal;
  font-size: 52px;
  line-height: 62px;
  letter-spacing: 0.2px;
  color: #ffffff;
  margin-bottom: 20px; }

.contents__subtext {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #ffffff;
  margin-bottom: 56px; }

.сontents__list {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-bottom: 50px; }

.сontents__list-item {
  flex-wrap: wrap;
  text-align: center;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
  padding: 50px 48px 40px 48px; }

.сontents__list-item:nth-child(1) {
  margin-right: 33px; }

.content__title-work {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.1px;
  color: #000000;
  margin-bottom: 30px; }

.content__text {
  margin: 0px auto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #5c5c5c; }

.content__img {
  width: 100%; }

.text__content {
  margin-bottom: 40px; }

.content__text-margin {
  margin-bottom: 67px; }

.link {
  margin-bottom: 57px; }

.link__content {
  margin-bottom: 30px; }

.content__button {
  background: #4452fe;
  border: 1px solid #4452fe;
  padding: 13px 46px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
  letter-spacing: 0.2px;
  color: #ffffff; }

@media screen and (max-width: 1111px) {
  .сontents__list {
    flex-wrap: wrap;
    padding: 0px 10px; }
  .сontents__list-item:nth-child(1) {
    margin-right: 10px;
    margin-bottom: 33px; }
  .сontents__wrap {
    max-width: 591px;
    width: 100%; } }

@media screen and (max-width: 764px) {
  .contents__subtext {
    max-width: 288px;
    padding-bottom: 54px;
    margin: 0px auto; } }

.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 160px; }

.gallery__content-wrap {
  width: 591px;
  margin-bottom: 44px;
  display: flex;
  flex-direction: column;
  align-items: center; }

.gallery__title {
  font-style: normal;
  font-weight: normal;
  font-size: 52px;
  line-height: 62px;
  letter-spacing: 0.2px;
  letter-spacing: 0.2px;
  color: #ffffff;
  margin-bottom: 20px; }

.gallery__text {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 54px; }

.gallery__list-card {
  list-style: none; }

.gallery__list-item {
  display: flex;
  margin-bottom: 44px;
  justify-content: space-evenly; }

.gallery__img {
  border-radius: 20px; }

.gallery__picture {
  border-radius: 20px; }

.gallery__list-items {
  display: flex;
  margin-bottom: 57px; }

.midle {
  margin: 0px 33px; }

.gallery__button {
  padding: 20px 20px;
  width: 159px;
  background: transparent;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
  letter-spacing: 0.2px;
  color: #ffffff;
  border: 1px solid #FFFFFF; }

@media screen and (max-width: 1200px) {
  .gallery__picture {
    width: 100%;
    object-fit: contain; }
  .midle {
    width: 100%; } }

@media screen and (max-width: 1100px) {
  .gallery__list-items {
    display: none; }
  .gallery__img {
    margin-right: 10px; } }

@media screen and (max-width: 980px) {
  .gallery__content-wrap {
    max-width: 591px;
    width: 100%; }
  .gallery__list-item {
    flex-direction: column; }
  .gallery__img {
    margin-right: 0px;
    margin-bottom: 33px; } }

@media screen and (max-width: 768px) {
  .gallery__text {
    max-width: 350px; } }

.partners {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 100px;
  background: #181818; }

.partners__title {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 52px;
  line-height: 62px;
  letter-spacing: 0.2px;
  color: #ffffff; }

.partners__subtitle-text {
  width: 511px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  letter-spacing: 0.2px;
  margin-bottom: 60px; }

.partners__list {
  display: flex;
  list-style: none;
  margin-bottom: 55px; }
  .partners__list .partners__list-item {
    margin-right: 74px; }
  .partners__list.closed {
    display: none; }

.partners__list-item:nth-child(6) {
  margin-right: 0px; }

.partners__button {
  width: 176px;
  padding: 10px 40px;
  background: transparent;
  border: 1px solid white;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
  letter-spacing: 0.2px;
  color: #ffffff;
  margin-bottom: 50px; }

@media screen and (max-width: 980px) {
  .partners__title-wrap {
    max-width: 591px;
    width: 100%; }
  .partners__subtitle-text {
    width: 100%; }
  .partners__list {
    max-width: 500px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center; }
  .partners__list-item {
    margin-bottom: 57px; } }

@media screen and (max-width: 764px) {
  .partners__subtitle-text {
    max-width: 329px;
    margin: 0px auto;
    padding-bottom: 64px; } }

.testimonials {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 160px;
  background: #181818; }

.testimonials__title {
  margin-bottom: 100px;
  font-style: normal;
  font-weight: normal;
  font-size: 52px;
  line-height: 62px;
  letter-spacing: 0.2px;
  color: #ffffff; }

.testimonials__list {
  list-style: none;
  display: flex;
  width: 805px;
  flex-wrap: wrap;
  margin-bottom: 50px; }

.testimonials__list-item {
  border: 1px solid white;
  border-radius: 10px;
  padding: 40px 70px 40px 40px;
  margin-right: 23px;
  margin-bottom: 20px;
  background: #181818; }

.testimonials__list-item:nth-child(2) {
  margin-right: 0px; }

.testimonials__list-item:nth-child(4) {
  margin-right: 0px; }

.testimonials__iner-wrap {
  display: flex;
  margin-bottom: 30px; }

.testimonials__name-text {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #ffffff; }

.link__designer {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #ffffff; }

.testimonials__avatar-author {
  margin-right: 23px; }

.testimonials__description {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #ffffff; }

@media screen and (max-width: 888px) {
  .testimonials__list {
    max-width: 805px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center; }
  .testimonials__list-item {
    margin-right: 0px; } }

@media screen and (max-width: 774px) {
  .testimonials__list {
    flex-direction: column;
    max-width: 352px;
    width: 100%; } }

.open__type {
  background: #181818;
  margin-bottom: 100px; }

.open__type-content {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #343434;
  max-width: 1178px;
  width: 100%;
  margin: 0px auto;
  border-radius: 33px;
  margin-bottom: 80px; }

.open__type-inner {
  padding: 61px 88px 61px 104px; }

.open__type-title {
  font-style: normal;
  font-weight: normal;
  font-size: 52px;
  line-height: 62px;
  letter-spacing: 0.2px;
  color: #ffffff;
  margin-bottom: 37px; }

.open__type-button {
  width: 232px;
  padding: 13px 0px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
  letter-spacing: 0.2px;
  color: #ffffff;
  background: #4452FE;
  border: 1px solid #4452FE; }

.open__type-icon {
  width: 100%; }

@media screen and (max-width: 1200px) {
  .open__type {
    padding: 0px 20px; } }

@media screen and (max-width: 888px) {
  .open__type-content {
    flex-direction: column; }
  .open__type-title {
    max-width: 336px;
    text-align: center; }
  .open__type-inner {
    text-align: center; } }

@media screen and (max-width: 505px) {
  .open__type-inner {
    padding: 61px 0px; } }

.footer {
  background: #181818;
  display: flex;
  justify-content: center;
  padding-top: 107px; }

.categories__wrap {
  display: flex; }

.fingertipe__list {
  list-style: none;
  margin-right: 97px;
  margin-top: 0px; }

.resources__list {
  list-style: none;
  margin-right: 95px;
  margin-top: 0px; }

.about__list {
  list-style: none;
  margin-right: 248px;
  margin-top: 0px; }

.title__categori {
  margin-bottom: 40px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.1px;
  color: #ffffff; }

.fingertipe__list-item {
  margin-bottom: 20px; }

.resources__list-item {
  margin-bottom: 20px; }

.about__list-item {
  margin-bottom: 20px; }

.link__categori {
  text-decoration: none;
  color: #ffffff;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px; }

.location {
  display: flex;
  align-items: center;
  margin-bottom: 20px; }

.location__icon {
  margin-right: 15px; }

.location__text {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #ffffff; }

.telephone {
  display: flex;
  align-items: center;
  margin-bottom: 42px; }

.telephone__icon {
  margin-right: 17px; }

.telephone__text {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #ffffff; }

.networks__list {
  display: flex; }

.networks__img {
  margin-right: 32px; }

@media screen and (max-width: 970px) {
  .categories__wrap {
    padding: 0px 10px; } }

@media screen and (max-width: 888px) {
  .footer {
    flex-direction: column;
    padding-left: 40px;
    padding-top: 0px; }
  .categories__wrap {
    flex-direction: column; }
  .fingertipe__list {
    margin-right: 0px; }
  .resources__list {
    margin-right: 0px; }
  .about__list {
    margin-right: 0px; } }

body {
  background: #181818;
  padding: 0px;
  margin: 0px; }

* {
  box-sizing: border-box; }

p {
  margin: 0px; }

ul {
  padding: 0px; }

h1,
h2,
h3,
h4,
h5 {
  margin: 0px; }
