.footer {
  background: #181818;
  display: flex;
  justify-content: center;
  padding-top: 107px;
}
.categories__wrap {
  display: flex;
}
.fingertipe__list {
  list-style: none;
  margin-right: 97px;
  margin-top: 0px;
}
.resources__list {
  list-style: none;
  margin-right: 95px;
  margin-top: 0px;
}
.about__list {
  list-style: none;
  margin-right: 248px;
  margin-top: 0px;
}
.title__categori {
  margin-bottom: 40px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.1px;
  color: #ffffff;
}
.fingertipe__list-item {
  margin-bottom: 20px;
}
.resources__list-item {
  margin-bottom: 20px;
}
.about__list-item {
  margin-bottom: 20px;
}
.link__categori {
  text-decoration: none;
  color: #ffffff;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
}
.location {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.location__icon {
  margin-right: 15px;
}
.location__text {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #ffffff;
}
.telephone {
  display: flex;
  align-items: center;
  margin-bottom: 42px;
}
.telephone__icon {
  margin-right: 17px;
}
.telephone__text {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #ffffff;
}
.networks__list {
  display: flex;
}
.networks__img {
  margin-right: 32px;
}
@media screen and (max-width:970px) {
  .categories__wrap {
    padding: 0px 10px;
  }
}
@media screen and (max-width:888px) {
  .footer {
    flex-direction: column;
     padding-left: 115px;
  }
  .categories__wrap {
    flex-direction: column;
  }
  .fingertipe__list {
    margin-right: 0px;
  }
  .resources__list {
    margin-right: 0px;
  }
  .about__list {
    margin-right: 0px;
  }
}