
.testimonials {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 160px;
    background: #181818;
  }
  .testimonials__title {
    margin-bottom: 100px;
    font-style: normal;
    font-weight: normal;
    font-size: 52px;
    line-height: 62px;
    letter-spacing: 0.2px;
    color: #ffffff;
  }
  .testimonials__list {
    list-style: none;
    display: flex;
    width: 805px;
    flex-wrap: wrap;
    margin-bottom: 50px;
  }
  .testimonials__list-item {
    border: 1px solid white;
    border-radius: 10px;
    padding: 40px 70px 40px 40px;
    margin-right: 23px;
    margin-bottom: 20px;
    background: #181818;
  }
  .testimonials__list-item:nth-child(2) {
    margin-right: 0px;
  }
  .testimonials__list-item:nth-child(4) {
    margin-right: 0px;
  }
  .testimonials__iner-wrap {
    display: flex;
    margin-bottom: 30px;
  }
  .testimonials__name-text {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #ffffff;
  }
  .link__designer {
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #ffffff;
  }
  .testimonials__avatar-author {
    margin-right: 23px;
  }
  .testimonials__description {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #ffffff;
  }
  @media screen and (max-width:888px) {
   .testimonials__list {
     max-width: 805px;
     width: 100%;
     flex-wrap: wrap;
     justify-content: center;
   }
   .testimonials__list-item {
     margin-right: 0px;
   }
  } 
  @media screen and (max-width:774px) {
    .testimonials__list {
      flex-direction:column;
      max-width: 352px;
      width: 100%;
    }
  }